@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --nav-wide-width: 355px;
    --nav-medium-width: 244px;
    --nav-narrow-width: 72px;
    --ig-separator: #262626;
    --dark-theme-bg: #000000;
    --dark-theme-text: #f5f5f5;
    --light-theme-bg: #ffffff;
    --light-theme-text: #000000;
}

*{
    box-sizing: border-box !important;
}

.light-theme {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark-theme {
    --bg-color: #000000;
    --text-color: #f5f5f5;
}

.left-sidebar{
    background-color: var(--dark-theme-bg);
    height: 100vh;
    padding: 8px 12px 20px 12px;
    border-right: 1px solid var(--ig-separator);
}

.main-feed{
    max-width: 630px;
    width: 100%;
    background-color: red;
    height: 100vh;
}
.right-sidebar{
    width: 319px;
    padding-left: 64px;
    background-color: green;
    height: 100vh;
}

.outer-main-wrapper{
    height: 100vh;
    margin-left: auto;
}
@media(max-width:10020px){
    .left-sidebar{
        width: var(--nav-wide-width);
    }
    .outer-main-wrapper{
        width: calc(100% - var(--nav-wide-width));
    }
}
@media(max-width:1919px){
    .left-sidebar{
        width: var(--nav-medium-width);
    }
    .outer-main-wrapper{
        width: calc(100% - var(--nav-medium-width));
    }
}
@media(max-width:1159px){
    .right-sidebar{
        display: none;
    }
}
@media(max-width:1263px){
    .left-sidebar{
        width: var(--nav-narrow-width);
    }
    .outer-main-wrapper{
        width: calc(100% - var(--nav-narrow-width));
    }
}
@media(max-width:767px){
    .left-sidebar{
        width: 0px;
    }
    .outer-main-wrapper{
        width: calc(100% - 0px);
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}